.container {
    width: 94%;
    margin: 0 auto;
}

@media screen and (min-width:360px) and (max-width:768px){
    .container{
        width: 96%;
    }
}
    
@media screen and (min-width:768px) and (max-width:1024px){
    .container{
        width: 720px;
    }
}

@media screen and (min-width:1024px) {
    .container{
        width: 996px;
    }
}